<head>

</head>

<!-- ================== FOOTER ================= -->
<footer class="footer">
    <div class="footer-column-wrapper">
        <div class="container">
            <div class="row footer-row equal-height-col">
                <div class="col-sm-5 col-md-3 footer-col">
                    <h4 class="footer-title">Socialfy</h4>
                    <ul class="social-icon-list">
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- /.col-sm-5 .col-md-3 footer-col -->
                <div class="col-sm-7 col-md-9 footer-col">
                    <h4 class="footer-title">About Me</h4>
                    <p>II'm a Psychiatrist, Medical Manager and a few years ago I got selected for a really cool job managing a whole host of medical education and training jobs.  I've always been interested in technology.</p>
                </div>
                <!-- /.col-sm-7 col-md-9 footer-col--> 
            </div>
            <!--/.row .footer-row-->
            <div class="row footer-row equal-height-col"> 
                <!-- ::info:: this is equal heights with jQuery -->
                <div class="col-sm-4 footer-col">
                    <h4 class="footer-title">Stay Updated - Coming Soon</h4>
 <!--                    <p>Sign up for blog updates. I promise I won't share your email address.</p>
                    <form action="yourscript.php" method="post">
                        <div class="input-group">
                            <input class="form-control form-control-footer" placeholder="Your@EmailAddress.com" type="email">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-footer">Sign Up</button>
                            </span>
 -->                            <!--/.input-group-btn--> 
<!--                         </div>
                    </form> -->
                </div>
                <!-- /.col-sm-4 footer-col-->
                <div class="col-sm-8 footer-col">
                    <h4 class="footer-title">Latest Stuff - Coming Soon</h4>
                    <ul class="img-widget fade-hover-img">
      <!--                   <li><%= link_to image_tag("demo-images/img-widget/1.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/2.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/3.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/4.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/5.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/6.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/7.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/8.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/9.jpg"), "#" %></li>
                        <li><%= link_to image_tag("demo-images/img-widget/10.jpg"), "#" %></li>
         -->            </ul>
                    <!--/.img-widget--> 
                </div>
                <!-- /.col-sm-8 footer-col--> 
            </div>
            <!--/.row .footer-row --> 
        </div>
        <!--/.container --> 
    </div>
    <!--/.footer-column-wrapper -->
    <div class="footer-copyright">
        <div class="container">
            <p class="no-margin">© Theme Copyright 2015 WebsiteTemplatesThatRock.com. 
                All rights reserved. 
                Email <a href="mailto:drallewellyn@me.com" class="link-underline">the designer.</a> | <a class="link-underline" href="site-map.html">Site Map</a> </p>
        </div>
    </div>
    <!--/.footer-copyright--> 
</footer>
<!-- ================== /.END footer ================= --> 
<!-- _________ GO TO TOP ___________ --> 
<a id="go-to-top" href="#top" title="up"> <i class="ti ti-arrow-up"></i> </a> 

<!-- _________ FOOTER SCRIPTS  ________ --> 

