<head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<!-- ================== BEGIN SLIDE OUT PANELS  ================= -->
<div class="slide-panel-parent"> 
    <!-- .slide-panel-parent goes around all the panels --> 
    <!-- _____________ NAVIGATION PANEL _______ -->
    <div class="slide-panel" id="navigation-panel"> <a href="#" class="close ti ti-close"> 
        <!--themify icon font--> 
        </a>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8"> <!-- _________ BEGIN NAVIGATION ___________ -->
                    <nav id="nav" role="navigation">
                        <ul>
                            <li><%= link_to 'Home', root_path, :class => 'active' %></li>
                            
                            <li> <%= link_to 'My Blog', posts_path %>
                            </li>
                                
                            <li> <%= link_to 'PLE Portfolio', pletools_path %>
                            </li>
                                
                        </ul>
                    </nav>
                </div>
                <!--/.col-md-6 col-lg-8 -->
                <div class="col-md-6 col-lg-4">
                    <h4>
                        <%= link_to 'Latest Posts', posts_path, :class => 'h2' %>
                    </h4>
                    <ul>
 <!--                        <li><a href="your-link-goes-here.html">We will amplify our power to benchmark...</a></li>
                        <li><a href="your-link-goes-here.html">We have revolutionized the conceptualization...</a></li>
                        <li><a href="your-link-goes-here.html">Everything is relative; relatively speaking.</a></li>
                        <li><a href="your-link-goes-here.html">My other body is an immortal robot body.</a></li>
                        <li><a href="your-link-goes-here.html">I don't know who they are but they're...</a></li>
                        <li><a href="your-link-goes-here.html">For those about to rock, we salute you </a> </li>
  -->                   </ul>
                    
                    <!--/.img-widget--> 
                </div>
                <!--/.col-md-6 col-lg-4 --> </div>
            <!--/.row --> </div>
        <!--/.container inside #navigation-panel --> 
    </div>
    <!--/.slide-panel #navigation-panel --> 
    <!-- _________ SEARCH PANEL #search-panel___________ -->
    <div class="slide-panel search" id="search-panel"> <a href="#" class="close ti ti-close"> 
        <!--themify icon font--> 
        </a>
        <div class="container">
            <h3 class="slide-panel-title">Search</h3>
            <form role="form">
                <div class="form-group">
                    <input type="search" placeholder="Enter search term and press enter" class="form-control">
                </div>
                <!--/.form-group -->
            </form>
        </div>
        <!--/.container --> 
    </div>
    <!--/.slide-panel #search-panel --> 
    <!-- _________ CONTACT PANEL ___________ -->
    <div class="slide-panel" id="contact-panel"> <a href="#" class="close ti ti-close"> 
        <!--themify icon font--> 
        </a>
        <div class="container">
            <h2 class="slide-panel-title text-center-md-view text-center-md-view">Contact Us</h2>
            <div class="row">
                <div class="col-md-6 text-right-md-view text-right-lg-view">
                    <h3>Organized Organization</h3>
                    <p class="lead"> 1255 Nowhere Street<br>
                        Tampa, FL 33655<br>
                        <strong>phone:</strong> <a href="tel:8135551234">813.555.1234</a><br>
                        <strong>fax:</strong> 813.555.1235<br>
                        <span class="overflow">
                            <strong>email:</strong> <a class="link-underline" href="mailto:email@domain.com">email@companydomain.com</a>
                        </span>
                    </p>
                </div>
                <!-- /.col-md-6 -->
                
                <div class="col-md-6">
                    <h3>Find Us On...</h3>
                    <ul class="social-icon-list">
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- /.col-md-6 --> 
                
            </div>
            <!--/.row --> 
        </div>
        <!--/.container --> 
    </div>
    <!--/.slide-panel #contact-panel --> 
    <!-- _________ LOGIN PANEL #login-panel ___________ -->
    <div class="slide-panel" id="login-panel"> <a href="#" class="close ti ti-close"> 
        <!--themify icon font--> 
        </a>
        <div class="container">
            <h2 class="slide-panel-title">Login/out</h2>
            <div class="row">
                <!-- <div class="col-md-6"> -->
                    <!-- <h4 class="no-margin-top">Social Login</h4>
                    <ul class="list-unstyled social-user">
                        <li><a href="#" title="Login with Facebook" class="facebook"><i class="fa fa-facebook"></i>
                            <span>
                                Login with Facebook
                            </span>
                            </a></li>
                        <li><a href="#" title="Login with Google Plus" class="google"><i class="fa fa-google-plus"></i>
                            <span>
                                Login with Google
                            </span>
                            </a></li>
                        <li><a href="#" title="Login with Twitter" class="twitter"><i class="fa fa-twitter"></i>
                            <span>
                                Login with Twitter
                            </span>
                            </a></li>
                        <li><a href="#" title="Login with Wordpress" class="wordpress"><i class="fa fa-wordpress"></i>
                            <span>
                                Login with Wordpress
                            </span>
                            </a></li>
                    </ul> -->
                    <!-- /.social-user --> 
                <!-- </div> -->
                <!-- /.col-*-6 -->
                <!-- <div class="col-md-6"> -->
                    <%= render 'layouts/newsession' %>
                <!-- </div> -->
                <!-- /.col-*-6 --> 
            </div>
            <!-- /.row --> 
        </div>
        <!-- /.container --> 
    </div>
    <!--/.slide-panel #login-panel --> 
    <!-- _________ SIGNUP PANEL #signup-panel ___________ -->
    <div class="slide-panel" id="signup-panel"> <a href="#" class="close ti ti-close"> 
        <!--themify icon font--> 
        </a>
        <div class="container">
            <h2 class="slide-panel-title">Sign Up</h2>
            <div class="row">
                <!-- <div class="col-md-6"> -->
                    <!-- <h4 class="no-margin-top">Sign Up with...</h4> -->
                    <!-- <ul class="list-unstyled social-user">
                        <li><a href="#" title="Signup with Facebook" class="facebook"><i class="fa fa-facebook"></i>
                            <span>
                                Signup with Facebook
                            </span>
                            </a></li>
                        <li><a href="#" title="Signup with Google Plus" class="google"><i class="fa fa-google-plus"></i>
                            <span>
                                Signup with Google
                            </span>
                            </a></li>
                        <li><a href="#" title="Signup with Twitter" class="twitter"><i class="fa fa-twitter"></i>
                            <span>
                                Signup with Twitter
                            </span>
                            </a></li>
                        <li><a href="#" title="Signup with Wordpress" class="wordpress"><i class="fa fa-wordpress"></i>
                            <span>
                                Signup with Wordpress
                            </span>
                            </a></li>
                    </ul> -->
                    <!-- /.social-user --> 
                <!-- </div> -->
                <!-- /.col-*-6 -->
               <!--  <div class="col-md-6"> -->
                    <h4 class="no-margin-top">Register for Updates</h4>
                    <!-- <form role="form" action="your-script.php"> -->
                        <div class="form-group">
                            <input type="firstname" class="form-control form-control-lg" placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <input type="lastname" class="form-control form-control-lg" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" placeholder="Enter email">
                        </div>
                        <p class="text-center">
                            <button class="btn btn-slide-panel btn-lg btn-block" type="submit"><i class="ti ti-lock"></i> Register</button>
                        </p>
                    <!-- </form> -->
                <!--     <p class="text-center clear">Already have an account? <a class="link-underline login-toggle" href="#" data-slide="slide" data-target="#login-panel">Login</a></p>
                </div> -->
                <!-- /.col-*-6 --> 
            </div>
            <!-- /.row --> 
        </div>
        <!-- /.container --> 
    </div>
    <!--/.slide-panel #signup-panel --> 
    <!-- _________ FORGOT PASSWORD #forgot-password-panel ___________ -->
    <!-- <div class="slide-panel" id="forgot-password-panel"> <a href="#" class="close ti ti-close">  -->
        <!--themify icon font--> 
         <!-- </a>
        <div class="container">
            <h3 class="slide-panel-title">Forgot Password</h3>
            <form role="form" action="your-script.php">
                <div class="input-group input-group-lg input-group-slide-panel">
                    <input class="form-control" placeholder="Your@EmailAddress.com" type="email">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-slide-panel btn-lg">Reset Password</button>
                    </span> -->
                    <!--/.input-group-btn 
                </div>
            </form>
            <hr class="vertical-spacer height-20px">
            <p class="text-center"><a href="#" data-slide="slide" data-target="#login-panel" class="link-underline login-toggle">Remembered your Password?</a></p>
        </div> -->
        <!-- /.container --> 
   <!--  </div> -->
    <!--/.slide-panel #forgot-password-panel --> 
</div>
<!-- END .slide-down-parent --> 
<!-- ================== END SLIDE OUT PANELS  ================= --> 